<%- include('header') %>
<div class="result">
  <% if (error) { %>
    <%= error %>
  <% } else { %>
    <%= quantidade %> dolares na cotação <%= cotacao %> é: <%= conversao %> reais.
  <% } %>
</div>
<%- include('footer') %>